extends ../layout

block content
  h1.
    Book id: #{book._id}
  p Title: #{book.title}
  p Author: #{book.author}
  p ISBN: #{book.isbn}
  p Year: #{book.year}
  p Description: #{book.description}
  p isAwesome: #{book.isAwesome}